#finish_option_sub {
	width: 500px;
	height: 400px;
	display: inline-block;
	margin: 20px;
}

#finish_multioption_sub {
	width: 500px;
	height: 400px;
	display: inline-block;
	margin: 20px;
}

#finish_fill_sub {
	width: 500px;
	height: 400px;
	display: inline-block;
	margin: 20px;
}

#finish_all_sub {
	width: 500px;
	height: 400px;
	display: inline-block;
	margin: 20px;
}

#finish_subs {
	width: 500px;
	height: 400px;
	display: inline-block;
	margin: 20px;
}
