<!DOCTYPE html>
<html>
 <head> 
  <title>homeworkdoing</title> 
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" /> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> 
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> 
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/outside.css') }}" type="text/css" /> 
  <script src="{{ url_for('static', filename='javascript/signup.js') }}"></script> 
  <script src="{{ url_for('static', filename='javascript/login.js') }}"></script> 
  <script src="{{ url_for('static', filename='javascript/findback.js') }}"></script> 
 </head> 
 <body> 
  <header class="title"> 
   <p>小题训练</p> 
  </header> 
  <div class="container"> 
   <div class="row row-centered"> 
    <div class="well col-md-6 col-md-offset-3 ">
      {% block content %}{% endblock %} 
    </div> 
   </div> 
  </div> 
  <footer class="copyright"> 
   <small>&copy; 2019 MFY&amp;XJJ</small> 
  </footer>   
 </body>
</html>