 {% extends 'base2.html' %}

{% block content %}

<div class="list">
	{% for count in counts %}
	{% if (count+1000) in donesubid %}
	{% if count == subject.ID-1000 %}
	<div class="donediv"><a href="/fill_sub/{{count+1000}}" class="ischeckeda">{{count}}</a></div>
	{% else %}
	<div class="donediv"><a href="/fill_sub/{{count+1000}}" class="notcheckeda">{{count}}</a></div>
	{% endif %}
	{% else %}
	{% if count == subject.ID-1000 %}
	<div class="notdonediv"><a href="/fill_sub/{{count+1000}}" class="ischeckeda">{{count}}</a></div>
	{% else %}
	<div class="notdonediv"><a href="/fill_sub/{{count+1000}}" class="notcheckeda">{{count}}</a></div>
	{% endif %}
	{% endif %}
	{% endfor %}
</div>

<div class="separate" ></div>

<div class="sub" >
	<button class="btn btn-success prev" ><a href="/fill_sub/{{subject.ID-1}}" class="txta">上一题</a></button>
	<button class="btn btn-success next" ><a href="/fill_sub/{{subject.ID+1}}" class="txta">下一题</a></button>
	<div class="collectbt"><button id="collect"class="btn btn-info">收藏题目</button></div>
	<div id="disappare" class="collecttip"><h4 id="collect_tip"></h4></div>

	<div class="subject" >
	<form >
		<center><h5 id="judge"></h5></center>
		<p >{{subject.text}}</p><br><br><br>
		<label>请填写以上空格<input type="text" id="fillans"  value="{{oldans[0]}}"></label>
   <center><button type="button" id="fill_sbm" class="btn btn-success ">确定</button></center>
	</form>
	<button id="checkans" class="btn btn-info btn-block answerbt" >查看答案</button>
	<label class="answerandreason" >{{subject.ans}},</label>
	<label class="answerandreason" >解释原因:{{subject.reason}}</label>
</div>

</div>

{% endblock %}